:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --line-color: #ffffff;
  --backbround-coloring: #e5e5e5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  background-color: var(--line-color);
  color: var(--primary-text-color);
  list-style: none;
  margin: 0;
}

.container {
  width: 1200px;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.container-log {
  width: 1200px;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: flex;
}
.navi {
  display: flex;
}
.vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  display: block;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
  font-family: raleway;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 26px;
  text-decoration: none;
  display: block;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  margin: auto;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.contacts {
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.contacts li {
  text-align: right;
}

.tel {
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel:hover,
.tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.tel-hed {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-hed:hover,
.tel-hed:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail {
  color: #ffffff99;
  fill: #757575;
}
.mail {
  margin-right: 50px;
  margin-bottom: 9px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-hed {
  color: #757575;
  margin-right: 50px;
  display: flex;
  align-items: center;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-hed:hover,
.mail-hed:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.mail-foot {
  color: var(--tittle-text-color);
}
.mail-foot:hover,
.mail-foot:focus {
  color: var(--accent-color);
}
.mail-foot {
  margin-top: 9px;
  margin-bottom: 9px;
}
.contacts {
  color: var(--tittle-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav {
  text-decoration: none;
  list-style: none;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--primary-text-color);
  margin-right: 93px;
  margin-left: -8px;
}
.stud {
  position: relative;
  color: var(--primary-text-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  position: relative;
}
.line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -32px;
}

.stud:hover,
.stud:focus {
  color: var(--accent-color);
}
.portfolio {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover,
.portfolio:focus {
  color: var(--accent-color);
}
.contaction {
  color: var(--primary-text-color);
}
.contaction:hover,
.contaction:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}

.page-heder {
  border-bottom: 1px solid #ececec;
  background-color: var(--line-color);
  margin: 0 auto;
}
.main-part {
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-text {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.main-part {
  text-align: center;
}
.main-text {
  color: var(--line-color);
  font-weight: 900;
  font-size: 44px;
}
.button-first {
  background-color: var(--accent-color);
  color: var(--line-color);
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.portfolio-list {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.portfolio-type {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.tittle {
  width: 270px;
}
.tittle:not(:last-child) {
  margin-right: 30px;
}
.portfolio-second {
  display: block;
  align-items: center;
  justify-content: center;
  width: 370px;
}
.card-overlay {
  position: relative;
}
.card-overlay {
  overflow: hidden;
}
.prod-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-part :hover .project-discription {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-part:hover .prod-text {
  opacity: 1;
}
.project-discription {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-part {
  width: 370px;
  box-sizing: border-box;
  margin-left: 30px;
  flex-basis: calc(100% - 90px) / 3;
  margin-bottom: 30px;
}
.portfolio-part:not(:last-child) {
  margin-bottom: 30px;
}
.portfolio-part:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-second:hover,
.portfolio-second:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-name .card-type {
  padding: 20px 24px 0 24px;
}
.card-name {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.imegy {
  border-bottom: none;
}

.card-type {
  padding: 20px 0 20px 24px;
}
.button-second {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px 6px 22px;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.62;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-second:focus,
.button-second:hover {
  color: var(--line-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.but-item {
  display: flex;
  margin-right: 8px;
  text-align: center;
}
.but-second {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container-se {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.main-part {
  background-color: #2f303a;
  color: var(--line-color);
}

.section-tittle-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.section-tittle-list:not(:last-child) {
  margin-right: 30px;
}

.information {
  display: flex;
  margin: 0px;
  padding: 0px;
  display: flex;
  padding-bottom: 94px;
}
.informing {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.some-text {
  color: var(--tittle-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.work {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 94px;
}
.foto-list {
  background-color: var(--line-color);
  list-style: none;

  display: flex;
  padding: 0px;
  margin: 0px;
}
.thumb :not(:last-child) {
  margin-right: 30px;
}
.team-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  width: 270px;
  height: 428px;
  border: 1px solid#eeeeee;
  background-color: var(--line-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.work-part {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  display: flex;
  margin-bottom: 50px;
}

.member-first {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 10px;
  padding-top: 30px;
}
.who-is {
  color: var(--tittle-text-color);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.adres-line {
  color: var(--line-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;

  letter-spacing: 0.03em;
}
.studio-footter {
  color: var(--line-color);
  margin-left: -8px;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.contaction-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.some-pact {
  padding: 94px 0;
  display: flex;
}
.advant {
  padding: 30px 0;
}
.some-pact {
  padding: 94px 0;
  display: flex;
}
.main-part {
  max-width: 1600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  color: var(--line-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.client-link {
  display: flex;
  color: var(--backbround-coloring);
  border: 1px solid var(--tittle-text-color);
  border-radius: 4px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-tittle {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-icon {
  fill: #afb1b8;
}
.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-first {
  padding-bottom: 94px;
  padding-top: 94px;
}

.list-clients {
  text-align: center;
  display: flex;
  justify-content: center;
}
.team-icons {
  fill: #afb1b8;
}
.dep-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.team-social-links {
  display: flex;
  list-style: none;
  margin: 16px 32px 30px 32px;
  padding: 0;
  justify-content: space-between;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover svg,
.social-links:focus svg {
  fill: var(--line-color);
  cursor: pointer;
}
.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.logotiep {
  width: 70px;
  height: 70px;
  display: flex;
}

.loga {
  display: flex;
  padding-top: 94px;
  padding-bottom: 30px;
}
.lud {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lud:not(last-child) {
  margin-right: 30px;
}
.network {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.foot-inf {
  list-style: none;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}
.foot-sec {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.cont-min {
  display: flex;
  margin: 0;
  padding: 0%;
}

.go-to {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}
.second-foot {
  display: flex;
  text-align: center;
  justify-content: center;
}
.icon-log {
  fill: #ffffff;
}
.foot-links {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-links:hover,
.foot-links:focus {
  background-color: var(--accent-color);
}
.icon {
  margin-right: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--line-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 496px;
  top: 8px;
  right: 8px;
  background: transparent;
  border-color: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-icon {
  fill: #000000;
}

.overlay-text {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.overlay-text {
  display: flex;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 1.14;
  border: none;
  color: #ffffff;
}

.thumb {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
